@page
@model SalaApp.Pages.Antrenori.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Antrenor</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Antrenor.Nume)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Antrenor.Nume)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Antrenor.Telefon)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Antrenor.Telefon)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Antrenor.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Antrenor.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Antrenor.SportID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Antrenor.SportID)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Antrenor.ID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
